<link rel="stylesheet" href="/static/gallery.css" type="text/css">

<!-- Lightbox thumbnails, visible on page at all times -->
<p>
    <a href="#img1">
        <figure>
            <img src="https://gallery.toozej.com/photos/thumbnail/(Off)%20Center-ccf4df.jpg">
            <figcaption>Off-Center</figcaption>
        </figure>
    </a>
    <br>
</p>

<p>
    <a href="#img2">
        <figure>
            <img src="https://gallery.toozej.com/photos/thumbnail/Crusty%20and%20Dusty-ccf4df.jpg">
            <figcaption>Crusty and Dusty</figcaption>
        </figure>
    </a>
    <br>
</p>

<p>
    <a href="#img3">
        <figure>
            <img src="https://gallery.toozej.com/photos/thumbnail/Morning%20Angle-ccf4df.jpg">
            <figcaption>Morning Angle</figcaption>
        </figure>
    </a>
    <br>
</p>

<!-- Include lightboxes (position on page doesn't matter) -->
<a href="#_" class="lightbox" id="img1">
    <span style="background-image:url('https://gallery.toozej.com/photos/large/(Off)%20Center-686656.jpg')"></span>
</a>
<a href="#_" class="lightbox" id="img2">
    <span style="background-image:url('https://gallery.toozej.com/photos/large/Crusty%20and%20Dusty-686656.jpg')"></span>
</a>
<a href="#_" class="lightbox" id="img3">
    <span style="background-image:url('https://gallery.toozej.com/photos/large/Morning%20Angle-686656.jpg')"></span>
</a>
